.input {
  padding: 10px;
  /* margin-bottom: 10px; */


  margin-bottom: 10px;
  border: 1px solid #97bfd4;
  border-radius: 4px;
  font-family: 'Arial', sans-serif;
 min-width: 100%;
  align-items: center;
   box-shadow: 0 12px 14px rgba(90, 147, 155, 0.1);
}

.filter {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 4px;
  font-family: 'Arial', sans-serif;
  color: orange;
  /* background-color: white; */
 

}

.label {
  margin-bottom: 15px;
  font-size: 20px;
}