.container {
   max-width: 1200px;
  height: 100vh;
  margin: 0 auto;
  padding: 0 16px;
}

.headerNav {
    background-color: white ;
    padding-top: 10px;
    padding-bottom: 40px;
    border-bottom: 2px solid rgb(245, 107, 15);;
}

.navText {
    /* color:rgb(245, 107, 15); */
    font-size: 64px;
   
 font-weight: 300;
 margin-right: 40px;
}




.navLink {
    transition: all 0.3s ease-in-out;
     text-decoration: none;

} 
.current {
    color: white;
}

.active {
  color:rgb(245, 107, 15);
   text-decoration: none;
}

.activeNavLink {
  color:rgb(245, 107, 15);
   text-decoration: none;
}

.activeNavLink :hover{
    color: rgb(218, 214, 214);
}

.inactiveNavLink {
  color: rgb(218, 214, 214);
   text-decoration: none;
}

.inactiveNavLink :hover {
    color:rgb(245, 107, 15);
}

